---
import { marked } from 'marked';
import siteConfig from '#site.config';
import Button from '#components/Button.astro';
import CustomImage from '#components/CustomImage.astro';

const title = "Hi, I'm Tyler";
const text = `I'm currently a senior in Software Engineering and Philosophy at Iowa State University, and an amateur
	full-stack developer. My passion lies in creating software that brings people happiness and improves their lives.
	I built this site to be a [serendipity engine](https://x.com/visakanv/status/1431177580766453763?s=20), so please
	explore, and if you see anything that piques your interest, I'd love to connect!
	`;
const { image } = Astro.props;
---

<section class="mb-16 flex w-full flex-col gap-8 sm:mb-24">
	{
		siteConfig.avatar?.src && (
			<a href="/">
				<CustomImage
					class="aspect-square w-16 rounded-full object-cover sm:w-20"
					{...siteConfig.avatar}
					loading="eager"
					fetchpriority="high"
					width={80}
					height={80}
					widths={[80, 160]}
					sizes="80px"
				/>
			</a>
		)
	}
	<div class="grow">
		{
			siteConfig.avatar?.src ? (
				<p id="hero-title">{siteConfig.title}</p>
			) : (
				<a id="hero-title" href="/">
					{siteConfig.title}
				</a>
			)
		}
		{siteConfig.subtitle && <p id="hero-subtitle">{siteConfig.subtitle}</p>}
	</div>
	{title && <h1 class="mt-6 font-serif text-3xl leading-tight font-medium sm:text-5xl sm:leading-tight">{title}</h1>}
	{
		image?.src && (
			<figure>
				<CustomImage
					class="w-full"
					{...image}
					widths={[480, 640, 768, 1024, 1536]}
					sizes="(min-width: 832px) 768px, calc(100vw - 32px)"
					fetchpriority="high"
					loading="eager"
				/>
				{image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{image.caption}</figcaption>}
			</figure>
		)
	}
	{text && <div class="prose sm:prose-lg max-w-none" set:html={marked.parse(text)} />}
	<div class="flex flex-wrap gap-4">
		<Button href={'/contact'}>{'Get in Touch'}</Button>
		<Button href={'/projects'}>{'View my Work'}</Button>
	</div>
</section>

<style>
	@reference "tailwindcss";

	#hero-title {
		font-family: 'Monaspace Krypton', monospace;
		font-size: 1.5rem;
		line-height: 1.25;
		font-weight: var(--font-weight-medium);

		@media (width >= 40rem /* 640px */) {
			font-size: 1.75rem;
			line-height: var(--leading, var(--text-3xl--line-height));
		}
	}

	#hero-subtitle {
		font-family: 'Monaspace Neon', monospace;
		font-size: var(--text-sm) /* 0.875rem = 14px */;
		line-height: var(--tw-leading, var(--text-sm--line-height) /* calc(1.25 / 0.875) ≈ 1.428571 */);
		--tw-leading: var(--leading-tight) /* 1.25 */;
		line-height: var(--leading-tight) /* 1.25 */;
	}
</style>
