---
import { marked } from 'marked';

import siteConfig from '#site.config';
import SocialLinks from '#components/SocialLinks.astro';
import Button from '#components/Button.astro';
import CustomImage from '#components/CustomImage.astro';

const heading = "Hi, I'm Tyler";
const text = `I'm currently a senior in Software Engineering and Philosophy at Iowa State University, and an amateur
	full-stack developer. My passion lies in creating software that brings people happiness and improves their lives.
	The purpose of this site is discoverability — to act as a [serendipity engine](https://x.com/visakanv/status/1431177580766453763?s=20)
	— so please explore, and if you see anything that piques your interest, I'd love to connect!
	`;
const { image } = Astro.props;
---

<section id="hero">
	<!-- <ProfileCard /> -->
	{
		siteConfig.avatar?.src && (
			<a href="/">
				<CustomImage
					class="aspect-square w-16 rounded-full object-cover sm:w-20"
					{...siteConfig.avatar}
					loading="eager"
					fetchpriority="high"
					width={80}
					height={80}
					widths={[80, 160]}
					sizes="80px"
				/>
			</a>
		)
	}
	<profile-card>
		<p id="nameplate">
			{siteConfig.title}
		</p>
		<p id="subtitle">{siteConfig.subtitle}</p>
		<SocialLinks />
	</profile-card>
	<!-- <HeroHeader /> -->
	<h1>{heading}</h1>
	{
		image?.src && (
			<figure>
				<CustomImage
					class="w-full"
					{...image}
					widths={[480, 640, 768, 1024, 1536]}
					sizes="(min-width: 832px) 768px, calc(100vw - 32px)"
					fetchpriority="high"
					loading="eager"
				/>
				{image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{image.caption}</figcaption>}
			</figure>
		)
	}
	<div class="prose sm:prose-lg max-w-none" set:html={marked.parse(text)} />
	<div class="flex flex-wrap gap-4">
		<Button primary href={'/contact'}>Get in Touch</Button>
		<Button href={'/about'}>Read More</Button>
	</div>
</section>

<style is:global>
	@reference "#styles/global.css";

	section#hero {
		@apply flex w-full flex-col gap-8;
	}

	profile-card {
		@apply grow;

		& > #nameplate {
			@apply text-2xl font-medium sm:text-[1.75rem];
			font-family: 'Monaspace Krypton', monospace;
		}

		& > #subtitle {
			@apply text-muted pb-4 text-sm leading-tight;
			font-family: 'Monaspace Neon', monospace;
		}
	}

	section#hero > h1 {
		@apply mt-6 font-serif text-3xl leading-tight font-medium sm:text-5xl sm:leading-tight;
	}
</style>
